<ion-header>
  <ion-toolbar>
    <ion-title>Conversion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="font-weight: bold; color:#065C32;">Convertisseur</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p style="font-weight: bold; color:#065C32;">Montant</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input style="border:2px solid rgb(117, 117, 117); padding: 12px; border-radius: 8px;" value="montant" [(ngModel)]="montant"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <p style="font-weight: bold; color:#065C32;">De</p>
            </ion-col>
            <ion-col>              
            </ion-col>
            <ion-col>
              <p style="font-weight: bold; color:#065C32;">Vers</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <ion-input style="border:2px solid rgb(117, 117, 117); border-radius: 8px;" value="cur1" [(ngModel)]="cur1"></ion-input>
            </ion-col>
            <ion-col>
           <ion-icon name="arrow-forward-circle" style="font-size: 45px; margin-left: 20px;">lol</ion-icon>
            </ion-col>
            <ion-col>
            <ion-input style="border:2px solid rgb(117, 117, 117); border-radius: 8px;" value="cur2" [(ngModel)]="cur2"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button color="success" (click)="getCurrency()">Convertir</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
