<ion-header>
  <ion-toolbar>
    <ion-title>conversionPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Main Content</h1>
    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Prénom</ion-label>
        <ion-input type="text" [(ngModel)]="form.prenom" name="Prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nom</ion-label>
        <ion-textarea [(ngModel)]="form.nom" name="Nom"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>Créer compte</button>
    </form>
  </ion-content>
