<ion-header>
  <ion-toolbar>
    <ion-title>ListAgents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let i of mesAgents">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text> Nom:</ion-text>
      </ion-col>
      <ion-col>
        <ion-text >{{i.nom}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text> Prénom:</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{i.prenom}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Matricule:</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{i.matricule}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="danger">Supprimer</ion-button>
</ion-card>
</ion-content>
