<ion-header>
  <ion-toolbar>
    <ion-title style="color: #065C32;">Espace Administrateur</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-grid >
        <ion-row>
          <ion-col>
          <ion-text style="color:#065C32; text-align: center; font-weight: bold;">Bienvenue dans votre espace {{mLOG}}</ion-text>
          </ion-col>  
        </ion-row>
      </ion-grid>

      <ion-list size="large">
            
            <br>
            <br>
            <br>
            <ion-button expand="block" (click)="toListAgent()" color="favorite" >Liste Agent</ion-button>
            <ion-button expand="block" (click)="toAddAgent()" color="favorite">Ajouter Agent</ion-button>
            <ion-button expand="block" (click)="agentToClient()" color="favorite">Affecter Agent</ion-button>
            <br>
            <br>
            <br>
           
             
             <br>
            <ion-button expand="block"  (click)="deconnexion()" shape="round" color="danger" size="small" style="width: 25%;">
              <ion-icon name="log-out-outline" style=" font-size: 24px; "></ion-icon>
            </ion-button>
          </ion-list>
     
    </ion-list>
  </div>
</ion-content>
