<ion-header>
  <ion-toolbar>
    <ion-title>agentToClient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let client of myClientList">
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-text> Nom:</ion-text>
      </ion-col>
      <ion-col>
        <ion-text> {{client.nom}} </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text> Prenom:</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{client.prenom}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text> AGENT:</ion-text>
      </ion-col>
      <ion-col>
      <ion-select placeholder="Select" [(ngModel)]="value">
        <ion-select-option *ngFor="let agent of myAgentList"  value=agent.email>{{agent.email}}</ion-select-option>   
      </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="primary" (click)="affecter()">Affecter</ion-button>
</ion-card>
</ion-content>
