<ion-header>
  <ion-toolbar>
    <ion-title>connexionPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-card>
  <ion-item style="margin: auto;">
    <ion-icon name="person-circle-outline"></ion-icon> 
    <ion-input value="email"></ion-input> 
  </ion-item>
  <ion-item style="margin: auto;">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input value="morpass" type="password"></ion-input> 
  </ion-item>
  <ion-button expand="block" (click)="SeConnecter()" color="favorite">Connexion</ion-button>
</ion-card>
</ion-content>
